<h1>Lista de Gêneros </h1>

<% @genres.each do | genre | %> 
    <!--<a href="/receitas/<%= genre.id %>"> <%= genre.name %>-->
    <%= link_to genre.name, genre %>
    <%= link_to 'Excluir', genre_path(genre), data: { turbo_method: :delete, turbo_confirm: 'Quer excluir este gênero?' } %>
    <br />
<% end %>